<div class="modal-wrapper soft-half">
	<div class="modal container soft overlay">
		<i class="modal__close icon--close icon--button overlay__content--top-right"></i>
		<div class="modal__content"></div>
	</div>
</div>