<div class="modal-wrapper modal-wrapper--fixed">
	<div class="modal overlay full">
    <i class="modal__close icon--close icon--button overlay__content--top-right"></i>
		<div class="modal__content"></div>
	</div>
</div>
